<div class="filters-block">
    <div class="filter-group filter-select-where">
        <div class="filter-form-select w-form">
            <form id="email-form" name="email-form" data-name="Email Form" class="form-6">
                <div class="select-block">
                  <div>Where ?</div>
                  <select x-model="whereSelected" x-on:change="filter;$nextTick(loadSlider)" id="dropdown-property-state-2" name="Property-State" data-name="Property State" filter-by="*" class="select-item w-select">
                    <option value="*">Anywhere</option>
                    <template x-for="whereOption in whereOptions" :key="whereOption.value" x-cloak>
                      <option
                              x-bind:value="whereOption.value"
                              x-text="whereOption.text"
                              >
                      </option>
                    </template>
                  </select>
                </div>
            </form>
            <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
            <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
        </div>
    </div>
    <div class="filter-group filter-select-type">
        <div class="filter-form-select w-form">
            <form id="email-form" name="email-form" data-name="Email Form" class="form-6">
                <div class="select-block">
                    <div>Category</div>
                  <select x-ref="typeSelect" x-on:change="filter;$nextTick(loadSlider)" id="dropdown-property-type-2" name="Property-Type" data-name="Property Type" filter-by="*" class="select-item-2 w-select">
                    <!--<option value="*">All</option>
                    <template x-for="typeOption in typeOptions" :key="typeOption.value">
                      <option
                        x-bind:value="typeOption.value"
                        x-text="typeOption.text"
                      >
                      </option>
                    </template>-->
                       <option value="*">All</option>
                       <option value="type-cat-3">villa contemporaine</option>
                       <option value="type-cat-6">terrain</option>
                       <option value="type-cat-1">appartement</option>
                       <option value="type-cat-5">maison de ville</option>
                       <option value="type-cat-4">villa traditionnelle</option>
                       <option value="type-cat-2">commercial</option>
                                    </select>
                </div>
            </form>
            <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
            <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
        </div>
    </div>
    <div class="filter-group filter-select-price">
        <div class="filter-form-select w-form">
            <form id="email-form" name="email-form" data-name="Email Form" class="form-6">
                <div class="select-block">
                    <div>Price</div>
                    <select x-ref="priceSelect" x-on:change="filter;$nextTick(loadSlider)" id="dropdown-property-price-2" name="Property-Price" data-name="Property Price" filter-by="*" class="select-item-2 w-select">
                        <option value="*">All</option>
                        <option value="price-cat-1">0 € - 500 000 €</option>
                        <option value="price-cat-2">500.000 € - 1.000.000 €</option>
                        <option value="price-cat-3">1.000.000 € - 2.000.000 €</option>
                        <option value="price-cat-4">2.000.000 € - 3.000.000 €</option>
                        <option value="price-cat-5">3.000.000 € - 4.000.000 €</option>
                        <option value="price-cat-6">4.000.000 € et +</option>
                    </select>
                </div>
            </form>
            <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
            <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
        </div>
    </div>
</div>