<div>
    <template x-for="property in propertiesChunked[page - 1]" :key="property.id">
    <div id="property-list" role="list" class="propertie-collection-list-2 filter-complex w-dyn-items">
       <div role="listitem" class="preview-100-percent w-dyn-item">
          <div data-animation="slide" class="preview-slider-2 w-slider" aria-label="carousel">
             <div class="badge-propertie-list-2 sale for-sale" x-text="property.fields.Status" x-show="property.fields.Status === 'For Sale'">For Sale</div>
             <div class="badge-propertie-list-2 sold " x-text="property.fields.Status" x-show="property.fields.Status === 'Sold'">For Sale</div>
             <div class="badge-propertie-list-2 exclusivity " x-text="property.fields.Status" x-show="property.fields.Status === 'Exclusivity'">For Sale</div>
             <div class="badge-propertie-list-2 reserved reserved-color " x-text="property.fields.Status" x-show="property.fields.Status === 'Reserved'">For Sale</div>

             <div id="image-slider" class="splide" style="height: 100%">
               <div class="splide__track" style="height: calc(100%);">
                <ul class="splide__list" style="height: calc(100%);">
                  <li class="splide__slide" style="height: calc(100%);" style="cursor: pointer;" @click="window.location.href = `/properties/${property.fields.Slug}`">
                    <img x-bind:src="property.fields.Images[0].thumbnails.large.url" style="padding: 0; height: calc(100%);">
                  </li>
                  <li class="splide__slide" style="cursor: pointer;" @click="window.location.href = `/properties/${property.fields.Slug}`">
                    <img x-bind:src="property.fields.Images[1].thumbnails.large.url" style="padding: 0; height: calc(100%);">
                  </li>
                  <li class="splide__slide" style="cursor: pointer;" @click="window.location.href = `/properties/${property.fields.Slug}`">
                    <img x-bind:src="property.fields.Images[2].thumbnails.large.url" style="padding: 0; height: calc(100%);">
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <div class="preview-description-2">
             <div>
                <div class="mini-title-link-2 mini-clicklink" x-text="property.fields.Type">Contemporary Villa</div>
                <div class="bar-2 small">|</div>
                <div class="mini-title-link-2" x-text="property.fields['Property Code']">IMV039</div>
             </div>
             <a href="/properties/luxury-villa-w-pool-sea-views-in-burgau-imv039" class="link-block black w-inline-block">
                <h4 class="h4 no-border" x-text="property.fields.Title">Luxury Villa w/ Pool &amp; Sea Views in Burgau</h4>
             </a>
             <div class="bottom-border location-block">
                <a href="/properties/luxury-villa-w-pool-sea-views-in-burgau-imv039" class="mini-title-link-2" x-text="property.fields.State">Algarve</a>
                <div class="bar-2 small">|</div>
                <div class="mini-title-2 inline" x-text="property.fields.City">Burgau</div>
             </div>
             <div class="bottom-border medium">
                <p class="paragraph-3" x-text="property.fields['Short description (< 180 chars)']">Wonderful, modern and luxurious top villa, at an exceptional location and walking distance to the beach. Surrounded by a beautiful natural environment, this villa recently built at the highest quality standards, offers exclusive views towards the ocean in front, benefiting at the same time from the peaceful and quiet ambiance provided by the place. Adding technology to luxury comfort details, this house features a lot of amenities that really can make your life easier and pleasant! Viewing is absolutely required! Plot Area: 1.190 m2. Building area: 350 m2. </p>
             </div>
             <div class="bottom-border medium">
                <div class="price-2 medium price-block" x-text="formatePrice(property.fields.Price)">995.000,00&nbsp;€</div>€
             </div>
             <div class="bottom-border medium">
                <div class="price-2 price-block-btc">22,798</div>
                <img src="https://uploads-ssl.webflow.com/6071632a3d790910b5c06cb3/60d6e8fa6fdf2761bcdce79e_logo-bitcoin-2.png" loading="lazy" alt="" class="image-4">
             </div>
             <div class="preview-overview">
                <div class="preview-item-8">
                   <div class="preview-icon"><img src="https://uploads-ssl.webflow.com/6071632a3d790910b5c06cb3/6071632a3d7909040dc06d36_Bedrooms.png" width="20" alt=""></div>
                   <div class="preview-number-2" x-text="property.fields['Bedroom(s)']">4</div>
                   <div class="preview-number-2">Bedrooms</div>
                </div>
                <div class="preview-item-6">
                   <div class="preview-icon"><img src="https://uploads-ssl.webflow.com/6071632a3d790910b5c06cb3/6071632a3d7909a424c06dbe_Size.png" width="22" alt=""><img src="https://uploads-ssl.webflow.com/6071632a3d790910b5c06cb3/608997e92774ed08c0fc34fc_region.png" width="22" sizes="100vw" srcset="https://uploads-ssl.webflow.com/6071632a3d790910b5c06cb3/608997e92774ed08c0fc34fc_region-p-500.png 500w, https://uploads-ssl.webflow.com/6071632a3d790910b5c06cb3/608997e92774ed08c0fc34fc_region.png 512w" alt="Size of plot" class="w-condition-invisible"></div>
                   <div class="preview-number-2" x-text="property.fields['Living Space square size (m2)']">350</div>
                   <div class="preview-number-2 w-condition-invisible" x-text="property.fields['Plot square size (m2)']">1190</div>
                   <div class="preview-number-2">m2</div>
                </div>
             </div>
          </div>
       </div>
    </div>
    </template>
</div>